body{
    background-image: url(../images/ignasi_pattern_s.png);
    line-height: 200%;
    margin:0px;
}
header{
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    height:70px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    width: 960px;
    margin-left: auto;
    margin-right:auto;
}
.container {
    height:100px;
    padding-top: 10px;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom: 2px, grey;
}
.text-box-header {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
    background-color: #ffffff;
    padding-bottom: 10px;
    
}
.name-box {
    background-color: #4aaaa5;
    width: 260px;
    height:92px;
    position: relative;
    right:25px;
    bottom:12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;  
    color: white;
}
.links{
    float: right;
    position: relative;
    bottom: 80px;
    color:#777777;
}
.about{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
}
.portfolio{
    padding-left: 5px;
    padding-right: 5px;
}
.contact{
    padding-left: 5px;
    padding-right: 5px;
}

.bio-picture {
    float: left;
    padding-right: 25px;
    padding-top: 20px;
}
.text-box {
    padding-top: 20px;
    width: 960px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
footer{
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color: #666666;
    color: #777777;
    height:40px;
    padding-top:40px;

}
input{
    line-height: 200%;
    width:908px;
}

textarea {
    line-height: 200%;
    height: 200px;
    width: 908px;
}
#portfolio-break {
    margin-bottom: 25px;
}

.portfolio-pics {
    width: 30%;
    height:250px;
}
.banner {
   
    position: relative;
}
.banner-child{
    background-color: #4aaaa5;
    width: 273px;
    height: 52px;
    padding-top: 18px;
    text-align: center;
    position:absolute;

}
#pug-pic {
    margin-right: 12.5px;
    margin-bottom: 25px;
}
.pug-banner {
    bottom:310px;
}

#woman-pic {   
    margin-right: 27px;
    margin-left: 27px;
    margin-bottom: 25px;
}
.woman-banner {
    bottom:310px;
    left: 317px;
}

#swirl-pic {
    margin-left: 12.5px;
    margin-bottom: 25px;
   
}
.swirl-banner {
    bottom: 310px;
    left: 634px;
}
#city-night-pic {
    margin-right: 12.5px;
}
.city-night-banner {
    bottom:25px;
}
#city-freeway-pic {
    margin-left: 27px;
    margin-right: 27px;
}
.city-freeway-banner {
    bottom: 25px;
    left: 317px;
}



